version: "3.9"

services:
  mongo1:
    image: mongo:7
    container_name: mongo1
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo1_data:/data/db2
      - ./mongo-init:/docker-entrypoint-initdb.d
    command: ["--replSet", "rs0", "--bind_ip_all"]
    networks:
      - app-network

  mongo2:
    image: mongo:7
    container_name: mongo2
    restart: always
    volumes:
      - mongo2_data:/data/db2
    command: ["--replSet", "rs0", "--bind_ip_all"]
    networks:
      - app-network

  mongo3:
    image: mongo:7
    container_name: mongo3
    restart: always
    volumes:
      - mongo3_data:/data/db2
    command: ["--replSet", "rs0", "--bind_ip_all"]
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
    depends_on:
      - mongo1
      - mongo2
      - mongo3
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    environment:
      -NODE_ENV=production
    container_name: frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:

networks:
  app-network:
    driver: bridge
